
body {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
}





.chord path {
  fill-opacity: .67;
  stroke: #000000;
  stroke-width: .5px;
}




.node circle {
    stroke: #000000;
    stroke-width: 1.5px;
}

.node text {
    pointer-events: none;
    font-size: 8px;
}

.edge {
    stroke: #000000;
    stroke-opacity: .6;
}

.legend {
    font-size: 8px;
}

rect {
    stroke-width: 2;
}
