.nested-dropdown {
  &-toggler {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;

    &-spacer {
      width: 20px;
    }

    &-icon {
      font-size: 1.25rem;
    }

    &-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-content {
      margin-bottom: 0;
      margin-left: 0.5rem;
    }
  }
  &-container {
    display: none;
    &.show {
      display: block;
    }
    > .nested-subdropdown {
      margin-left: 1rem;
    }

  }
}